*{
    box-sizing: border-box;
}


.passContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 80px; 
    margin-right: 150px;
     width: 300px;
     height: 250px;
     
}

img{
    width: 20px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}


.title{
    display: flex;
    
}
h2{
    color: rgb(165, 39, 39);
    font-family: cursive;
    font-size: 10px;
    
}
#passWordF{
    
    border-radius: 10px;
    width: 350px;
    height: 250px;
    padding-left: 18px;
    padding-top: 10px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
  
    
   
}
input{
    
    width: 50px;
    height: 24px;
    border: none;
}


label{
    font-family: cursive;
    color: rgb(165, 39, 39);
    
}


button{
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    width: 140px;
    height: 38px;
    margin-top: 10px;
    color: rgb(165, 39, 39);
    
}


#passWordR{
    padding-top: 10px;
    width: 200px;
    height: 80px;
    display: flex;
  overflow: auto;
  font-size: 25px;
   
    
    
    
}